@{
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="keywords" content="au theme template">
    <!-- Fontfaces CSS-->
    <link href="~/Content/Home/css/font-face.css" rel="stylesheet" />
    <link href="~/Content/Home/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Home/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/Home/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS-->
    <link href="~/Content/Home/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" />
    <!-- Vendor CSS-->
    <link href="~/Content/Home/vendor/animsition/animsition.min.css" rel="stylesheet" />
    <link href="~/Content/Home/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <link href="~/Content/Home/vendor/wow/animate.css" rel="stylesheet" />
    <link href="~/Content/Home/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <link href="~/Content/Home/vendor/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/Home/vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/Home/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <!-- Main CSS-->
    <link href="~/Content/Home/css/theme.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="#">
                            @*<img src="~Content/Home/images/icon/logo.png" alt="CoolAdmin" />*@
                            <img src="~/Content/Home/images/WM_new_logo.png" style="height:80px;" />
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="https://webmoney.com.vn/">
                    <img src="~/Content/Home/images/WM_new_logo.png" style="height:80px;" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1" style="border-right: solid 1px; border-color:whitesmoke">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="@Url.Action("Index","Register")">
                                <i class="fas fa-chart-bar"></i>List Of Merchants
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("TransactionList","Transaction_Merchant")">
                                <i class="fas fa-chart-bar"></i>List Of Transactions
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="GET">
                               
                            </form>
                            <div class="account-wrap">
                                <div class="account-item clearfix js-item-menu">
                                    <div class="content">
                                        <a class="js-acc-btn" href="#">@((User as WebIPrincipal).User.merchant_name)</a>
                                    </div>
                                    <div class="account-dropdown js-dropdown">
                                        <div class="info clearfix">
                                            <div class="image">
                                                <a href="#">
                                                    <img src="~/Content/Uploads/Merchant/@((User as WM.Register.WebIPrincipal).User.logo) " />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="name">
                                                    <a href="#">@((User as WebIPrincipal).User.merchant_name)</a>
                                                </h5>
                                                <span class="email">@User.Identity.Name</span>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__body">
                                            <div class="account-dropdown__item">
                                                <a href="@Url.Action("ChangePass","Login")">
                                                    <i class="zmdi zmdi-account"></i>Change Password
                                                </a>
                                            </div>
                                        </div>
                                        <div class="account-dropdown__footer">
                                            <a href="@Url.Action("Logout","Login")">
                                                <i class="zmdi zmdi-power"></i>Logout
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <!-- HEADER DESKTOP-->
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="container body-content" style="padding-top:initial; margin-top:-100px;">
                @RenderBody()
                @*<footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>*@
            </div>
        </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>
    <!-- Jquery JS-->
    <script src="~/Content/Home/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Content/Home/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Content/Home/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Content/Home/vendor/slick/slick.min.js"></script>
    <script src="~/Content/Home/vendor/wow/wow.min.js"></script>
    <script src="~/Content/Home/vendor/animsition/animsition.min.js"></script>
    <script src="~/Content/Home/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/Content/Home/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Content/Home/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="~/Content/Home/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Content/Home/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Content/Home/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Content/Home/vendor/select2/select2.min.js"></script>
    <!-- Main JS-->
    <script src="~/Content/Home/js/main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
