@model WM.Register.Models.srv_VNOGateWay_Merchant
@{
    ViewBag.Title = "Details";
}

<h2>Details Merchant</h2>

<div>
    <div class="col-lg-12">
        <div class="col-lg-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.merchant_name)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.merchant_code)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_code)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.password)
                </dt>

                <dd >
                    @Html.Raw("\u2022\u2022\u2022\u2022\u2022")
                    @*@Html.DisplayFor(model => model.password)*@
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.merchant_website)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_website)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.merchant_email)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.merchant_report_email)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_report_email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.merchant_phone)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_phone)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.merchant_wmid)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_wmid)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.merchant_purse)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_purse)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.merchant_result_url)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_result_url)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.merchant_cancel_url)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_cancel_url)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.merchant_error_url)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_error_url)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.merchant_secret_key)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_secret_key)
                </dd>*@

                @*<dt>
                    @Html.DisplayNameFor(model => model.merchant_key_hash)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_key_hash)
                </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.merchant_address)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_address)
                </dd>
            </dl>

        </div>
        <div class="col-lg-6">
            <dl class="dl-horizontal">

                @*<dt>
                    @Html.DisplayNameFor(model => model.merchant_token)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_token)
                </dd>*@

                @*<dt>
                    @Html.DisplayNameFor(model => model.merchant_type)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_type)
                </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.merchant_mode)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_mode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.merchant_status)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.created_date)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.created_date)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.created_by)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.created_by)
                </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.updated_date)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.updated_date)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.updated_by)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.updated_by)
                </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.ip_addresses)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.ip_addresses)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.accept_hosts)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.accept_hosts)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.logo)
                </dt>

                <dd >
                    <img src="/Content/Uploads/Merchant/@Model.logo" style="width:50px; height:50px;" />
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.parent_id)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.parent_id)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.merchant_secret_key_x20)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_secret_key_x20)
                </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.set_fee)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.set_fee)
                </dd>

                @*<dt>
                    @Html.DisplayNameFor(model => model.merchant_account)
                </dt>

                <dd >
                    @Html.DisplayFor(model => model.merchant_account)
                </dd>*@
            </dl>
        </div>
    </div>
</div>
<p>   
   @Html.ActionLink("Back to List", "Index")
</p>
